body{
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
}
h1{
    color: #fff;
    font-size: 64px;
    text-transform: uppercase;
    max-width: 1000px;
    margin: 0 auto;
}
h1+p {
    color: #fff;
    text-transform: uppercase;
}
.bg{
    background-image: url(../img/first-screen.png);
    background-repeat: no-repeat;
    height: 740px;
    background-size: cover;
    background-position: center;
    padding: 50px 0;
    text-align: center;
}
.wrapper{
    max-width: 1100px;
    margin: 0 auto;
    margin-top: 150px;
}
.wrapper-gray{
    background-color: #f7f7f7;
    margin-bottom: 100px;
}
.stat-item h2 {
    font-size: 72px;
    color: #F7654A;
    text-transform: uppercase;
}
.stat-item h3 {
    font-size: 36px;
    text-transform: uppercase;
}
.stat-item p {
    color: #999999;
    text-transform: lowercase;
}
.stat {
    display: flex;
    justify-content: space-around;
    max-width: 1000px;
    margin: -350px auto 0;
    text-align: center;
}
.ng{
    font-size: 36px;
    text-transform: uppercase;
    color: #404149;
    text-align: center;
    margin: 0 auto;
    max-width: 1100px;
}
.rave{
    display: flex;
    justify-content:space-between;
    text-align: left;
}
.ng-item p{
    font-size: 24px;
    text-transform: none;
}
hr {
    color: #F7654A;
    background-color: #F7654A;
    border: none;
    height: 5px;
    width: 55px;
    margin-left: -1px;
}
.orange{
    background-color: #F7654A;
    max-height: 250px;
}
.text{
    max-width: 1100px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
}
.text-item h2{
    color: white;
    font-size: 48px;
    text-transform: none;
}
.text-item h3{
    color: white;
    font-size: 24px;
}
button{
    height: 49px;
    width: 175px;
    font-size: 14px;
    border: none;
}
.block{
    max-width: 1100px;
    margin: 0 auto;
    margin-top: 80px;
}
.text1{
    font-size: 36px;
    text-align: center;
}
.grid{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 350px);
    grid-template-rows: repeat(3, 250px);
}
.it{
    background-color: #f7f7f7;
    text-align: center;
}
.it img{
    margin-top: 50px;
}
.it p{
    font-size: 21px;
    max-width: 120px;
    margin: 0 auto;
    margin-top: 20px;
}
.block1{
    display: grid;
    grid-template-columns: repeat(4, 474px);
    grid-template-rows: repeat(4, 407px);
    max-width: 1920px;
    margin: 0 auto;
    margin-bottom: -600px;
}
.it1 img{
    filter: grayscale(1);
    transition: 1s;
}
.it1 img:hover{
    filter: grayscale(0);
}
.ng2{
    font-size: 36px;
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto;
    max-width: 1100px;
    margin-top: -700px;
    margin-bottom: 100px;
}
.ng2-item{
    font-size: 21px;
    max-width: 350px;
    max-height: 318px;
}
.ngp{
    color: black;
    font-weight: bolder;
    text-transform: capitalize;
}
.text2{
    font-size: 14px;
    max-width: 350px;
    max-height: 259px;
    background-color: #f7f7f7;
    padding: 20px;
}
.contact{
    display: flex;
    justify-content: space-around;
    max-width: 1100px;
    text-align: center;
}
.cont h3{
    font-size: 24px;
}
.gray{
    color: #999999;
    margin-bottom: 20px;
}
.con{
    margin-top: 10px;
}
.cont1{
    margin-top: 50px;
}
.or{
    color: #F7654A;
}
.or1{
    margin-top: -20px;
}
.tx{
    font-size: 36px;
    text-align: center;
    margin-bottom: 80px;
}
.footer{
    background-color: #404149;
    max-height: 250px;
    padding: 10px;
    margin-top: 60px;
}
.ft{
    max-width: 1100px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    vertical-align: middle;
}
.foter p{
    vertical-align: middle;
    color: white;
    font-size: 16px;
}
.foot{
    display: flex;
    color: white;
    font-size: 16px;
}
.pr{
    margin-right: 5px;
}