body{
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
}
h1{
    color: #fff;
    font-size: 64px;
    text-transform: uppercase;
    max-width: 1000px;
    margin: 0 auto;
}
h1+p {
    color: #fff;
    text-transform: uppercase;
}
.bg{
    background-image: url(../img/first-screen.png);
    background-repeat: no-repeat;
    height: 740px;
    background-size: cover;
    background-position: center;
    padding: 50px 0;
    text-align: center;
}
.wrapper{
    max-width: 1100px;
    margin: 0 auto;
    margin-top: 150px;
}
.wrapper-gray{
    background-color: #f7f7f7;
    margin-bottom: 100px;
}
.stat-item h2 {
    font-size: 72px;
    color: #F7654A;
    text-transform: uppercase;
}
.stat-item h3 {
    font-size: 36px;
    text-transform: uppercase;
}
.stat-item p {
    color: #999999;
    text-transform: lowercase;
}
.stat {
    display: flex;
    justify-content: space-around;
    max-width: 1000px;
    margin: -350px auto 0;
    text-align: center;
}
.ng{
    font-size: 36px;
    text-transform: uppercase;
    color: #404149;
    text-align: center;
    margin: 0 auto;
    max-width: 1100px;
}
.rave{
    display: flex;
    justify-content:space-between;
    text-align: left;
}
.ng-item p{
    font-size: 24px;
    text-transform: none;
}
hr {
    color: #F7654A;
    background-color: #F7654A;
    border: none;
    height: 5px;
    width: 55px;
    margin-left: -1px;
}
.orange{
    background-color: #F7654A;
    max-height: 250px;
}
.text{
    max-width: 1100px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
}
.text-item h2{
    color: white;
    font-size: 48px;
    text-transform: none;
}
.text-item h3{
    color: white;
    font-size: 24px;
    text-transform: capitalize;
}
button{
    height: 49px;
    width: 175px;
    font-size: 14px;
}